// Configurable variables
params {
    project = 'ceph'
    sexchroms = 'X,Y'
    outdir = './results'
}

process {
    time = '12h'
    memory = 8.GB
    cpus = 1
    container = 'brentp/smoove:v0.2.3'
    cache = 'lenient'
    withName: smoove_call {
        memory = { 16.GB * task.attempt }
        // 'ignore' will remove a sample from continuing in the pipeline
        errorStrategy = { task.attempt < 3 ? 'retry' : 'ignore' }
    }
    withName: smoove_merge {
        memory = 16.GB
        cache = 'deep'
    }
    withName: smoove_genotype {
        memory = { 16.GB * task.attempt }
        // 'terminate' kills the workflow when a sample fails genotyping
        errorStrategy = { task.attempt < 3 ? 'retry' : 'finish' }
    }
    withName: smoove_square {
        memory = 64.GB
        cpus = 3
        cache = 'deep'
    }
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
    enabled = true
    file = "${params.outdir}/logs/timeline.html"
}
report {
    enabled = true
    file = "${params.outdir}/logs/report.html"
}
trace {
    enabled = true
    file = "${params.outdir}/logs/trace.txt"
}
dag {
    enabled = true
    file = "${params.outdir}/logs/dag.svg"
}
